@model PaginacionRespuesta<Categoria>

@{
    var plantillaLink = string.Concat(Model.BaseURL, "?pagina={0}&recordsPorPagina={1}");
    var activarBotonAnterior = Model.Pagina > 1;
    var activarBotonPosterior = Model.Pagina < Model.CantidadTotalDePaginas;
}

<nav>
    <ul class="pagination">
        <li class="page-item @(activarBotonAnterior ? null : "disabled")">
            @if (activarBotonAnterior)
            {
                <a class="page-link" href="@string.Format(plantillaLink, Model.Pagina - 1, Model.RecordsPorPagina)" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            }
            else
            {
                <a class="page-link" href="#" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            }
        </li>
        @for (var pagina = 1; pagina <= Model.CantidadTotalDePaginas; pagina++)
        {
            <li class="page-item @(pagina == Model.Pagina ? "active" : null)">
                <a class="page-link" href="@string.Format(plantillaLink, pagina, Model.RecordsPorPagina)">
                    @pagina
                </a>
            </li>
        }
        <li class="page-item @(activarBotonPosterior ? null : "disabled")">
            @if (activarBotonPosterior)
            {
                <a class="page-link" href="@string.Format(plantillaLink, Model.Pagina + 1, Model.RecordsPorPagina)" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            }
            else
            {
                <a class="page-link" href="#" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            }
        </li>
    </ul>
</nav>

